/* App.css */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #dc143c;
  padding: 1rem;
}

.nav-link {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: normal;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.main-content {
  padding: 2rem;
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #dc143c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.product-list {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-top: 1rem;
  width: 15%;
}

.product-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}
